{% extends "base.html.twig" %}

{% block title %}Cyberpunk 2077{% endblock %}

{% block body %}
    <div class="container-fluid mb-5" id="cyberpunk">
        <h1 style="color: white;" class="mb-3">Création d'une fan-page du jeu Cyberpunk 2077</h1>

        <p style="color: white; font-size: 2vh">Afin de valider mon titre professionnel, j'ai réalisé une fan-page d'un jeu-vidéo attendu pour avril 2020. Ce projet m'a permis de montrer que je savais 
        créer un site "responsive" via entre autres l'utilisation de Bootstrap, des media queries et l'utilisation des unités vh et vw pour déterminer les largeurs et hauteurs des éléments HTML.</p>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/cyberpunk/cyberpunk-p1.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Menu d'accueil de la fan-page
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/cyberpunk/cyberpunk-p2.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Vue de la section "Personnages"
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/cyberpunk/cyberpunk-p3.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Insertion d'une vidéo YouTube présentant le Gameplay du jeu
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/cyberpunk/cyberpunk-p4.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Bandeau de réservation du jeu
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <a href="{{ path('homepage', {'_fragment': 'projects'}) }}" class="btn btn-danger btn-lg mx-auto">Retour au carrousel des projets</a>
        </div>

    </div>
{% endblock %}


