{% extends "base.html.twig" %}

{% block title %}Mon BnB{% endblock %}

{% block body %}
    <div class="container-fluid mb-5" id="monbnb">
        <h1 style="color: white;" class="mb-3">Création d'un site de BnB en Symfony 4</h1>

        <p style="color: white; font-size: 2vh">Afin de me perfectionner après mon diplôme, j'ai suivi une formation en ligne afin de réaliser un site de BnB en Symfony 4.</p>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p11.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Page d'accueil du site
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p12.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Liste des annonces
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p9.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Vue détaillée d'une annonce
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p10.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Page de réservation d'une annonce
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p5.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Écran d'inscription au site
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p6.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Écran de connexion
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p7.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Écran de création d'une annonce
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p8.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Page d'un profil utilisateur
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p1.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Page d'accueil de l'administration du site
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p2.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Liste des annonces depuis la page d'administration
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p3.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Écran de modification d'un commentaire par un administrateur
                    </div>
                </div>
            </div>
            <div class="pictures-container col-12 col-xl-6">
                <img src="pictures/monbnb/monbnb-p4.png" alt="" class="picture">
                <div class="overlay">
                    <div class="text">
                        Écran de modification d'une réservation par un administrateur
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <a href="{{ path('homepage', {'_fragment': 'projects'}) }}" class="btn btn-danger btn-lg mx-auto">Retour au carrousel des projets</a>
        </div>

    </div>
{% endblock %}

