@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700&display=swap');

html, body {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(1, 31, 85), rgb(128, 143, 170));
}

/*********************************** NAVBAR **************************************/

.navbar {
    background-color: #0098ff;
    font-family: 'Comfortaa', cursive;
    border: none;
    transition: all 500ms;
    -webkit-transition: all 500ms;
}

.navbar:hover {
    opacity: 1;
}

.avatar {
    max-height: 64px;
    max-width: 64px;
}

.bx {
    margin-top: 0 !important;
}

.bx, a:link {
    vertical-align: middle;
}

.nav-link.btn {
    background-color: #011f55;
    font-size: medium;
    border: solid #cf9f69 2px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    margin-bottom: 10px;
}

.nav-item.active .nav-link.btn, .nav-item:hover .nav-link.btn {
    background-color: #cf9f69;
    border: solid #011f55 2px;
    color: #011f55 !important;
}

@media screen and (orientation: landscape) {
    .nav-item {
        height: 10vh;
    }
    .nav-link.btn {
        padding-bottom: 0;
        padding-top: 0;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    .nav-item {
        height: unset;
    }
    .nav-link.btn {
        padding: 0.9rem 1rem;
        margin-bottom: 0 !important;
    }
}

/********************************* JUMBOTRON **************************************/

#goals {
    font-family: 'Dancing Script', cursive;
}

.type-writer {
    font-size: 6vh;
}

.goals-content {
    font-size: 4vh !important;
}

@media screen and (min-height: 768px) {
    .goals-content {
        font-size: 3vh !important;
    }
}

@media screen and (orientation: landscape) {
    .type-writer {
        font-size: 12vh;
    }
    
    .goals-content {
        font-size: 8vh !important;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    .type-writer {
        font-size: 10vh;
    }
    
    .goals-content {
        font-size: 5vh !important;
    }
}

@media screen and (min-width: 1200px) and (orientation: landscape) {
    .type-writer {
        font-size: 10vh;
    }
    
    .goals-content {
        font-size: 4vh !important;
    }
}

@media screen and (min-width: 2500px) and (orientation: landscape) {
    .type-writer {
        font-size: 8vh;
    }
    
    .goals-content {
        font-size: 3vh !important;
    }
}

/*********************************** FLIP *****************************************/

.card-container {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
    padding-left: 1%;
    height: 50vh;
    min-width: 100%;
}

@media screen and (orientation: portrait) and (min-width: 768px) {
    .card-container {
        min-width: 50%;
        height: 40vh;
    }

    .back ul {
        font-size: 2vh !important;
    }
}

@media screen and (orientation: landscape) {
    .card-container {
        height: 100vh;
        min-width: 50%;
    }

    .back ul {
        font-size: 5vh !important;
    }
}

@media screen and (orientation: landscape) and (min-width: 992px) {
    .card-container {
        height: 50vh;
    }

    .back ul {
        font-size: 2.5vh !important;
    }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    .card-container {
        height: 70vh;
    }

    .back ul {
        font-size: 3.5vh !important;
    }
}

@media screen and (orientation: landscape) and (min-width: 1440px) {
    .card-container {
        height: 50vh;
    }

    .back ul {
        font-size: 2vh !important;
    }
}

.card-inner {
    width: 99%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: -webkite-transform 0.6s;
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-inner.flipped {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-inner .front, .card-inner .back {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 5vh;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
}

.card-inner .front {
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
}

.card-inner .back {
    width: 100%;
    height: 100%;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.back ul {
    font-size: 2.5vh ; 
    list-style-type: none;
    height: 100%;
    width: 100%;
}

.back ul li {
    border: 1px solid #011f55;
    padding: 12px;
    height: 16.66%;
}

.header-li {
    background-color: #011f55;
    color: white;
    height: 16.66%;
}

/********************************** CAROUSEL **************************************/

#projects {
    width: 100%;
}

.carousel-caption {
    padding-bottom: 15px;
    bottom: 0px;
}

.carousel-caption h4 {
    display: none ;
}

.carousel-indicators {
    position: absolute;
    bottom: -15px;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
}

ol.carousel-indicators li {
    float: left;
    width: 33.33%;
    height: 15px;
    margin: 0;
    border: 0;
    background-color: #ccc;
}

ol.carousel-indicators li.active {
    background-color: #cf9f69;
}

@media screen and (min-width: 768px) {
    .carousel-caption h4 {
        display: block ;
    }
}

@media screen and (min-width: 1200px) {
    #projects {
        width: 70%;
    }
}

/********************************* ACCORDION **************************************/

.accordion {
    background-color: #0098ff;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 8vh;
    text-align: center;
    font-size: 3vh;
    border: none;
    outline: none;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

img[src^="pictures/gifs"] {
    width: 3vh;
    height: 3vh;
}

@media screen and (min-width: 576px) {
    .accordion {
        font-size: 4vh;
    }

    img[src^="pictures/gifs"] {
        width: 4vh;
        height: 4vh;
    }
}

@media screen and (min-width: 350px) and (max-width: 575px) and (orientation: portrait) {
    .accordion {
        font-size: 2.5vh;
    }

    img[src^="pictures/gifs"] {
        width: 2.5vh;
        height: 2.5vh;
    }
}

@media screen and (orientation: landscape) {
    .accordion {
        height: 15vh;
        font-size: 6vh;
    }

    img[src^="pictures/gifs"] {
        width: 6vh;
        height: 6vh;
    }
}

@media screen and (min-width: 992px ) and (orientation: landscape) {
    .accordion {
        height: 8vh;
        font-size: 4vh;
    }

    img[src^="pictures/gifs"] {
        width: 4vh;
        height: 4vh;
    }
}

.accordion.active, .accordion:hover {
    background-color: #cf9f69;
    color: black;
}

.panel {
    padding: 5px 20px;
    color: white;
    font-family: 'Comfortaa', cursive;
    display: none;
    overflow: hidden;
} 

#contacts-panel {
    display: block;
}

#me-big-device {
    display: none;
}

@media screen and (min-width: 1200px) {
    #me-small-device {
        display: none;
    }
    #me-big-device {
        display: block;
    }
}

.card:hover {
    background-color: #cf9f69 !important;
    color: black !important;
}

.card-header {
    background-color: #011f55;
    color: white;
    border: none;
    font-size: 3vh;
}

.contact-method {
    font-size: 2.5vh;
}

@media screen and (orientation: landscape) {
    .card-header {
        font-size: 6vh;
    }
    .contact-method {
        font-size: 5vh;
    }
}

@media screen and (min-width: 768px) {
    .contact-method {
        font-size: 1.3vh;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .contact-method {
        font-size: 4vh;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape)  {
    .card-header {
        font-size: 3vh;
    }

    .contact-method {
        font-size: 2.5vh;
    }
}

@media screen and (min-width: 2500px) and (orientation: landscape)  {
    .card-header {
        font-size: 2vh;
    }

    .contact-method {
        font-size: 1.5vh;
    }
}

#interactive-photo:hover {
    animation: shake 0.5s;
    -webkit-animation: shake 0.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes turn {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes turn {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@-webkit-keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

/************************************ FORM *****************************************/
label, .btn[type="submit"], #admin-logout {
    font-size: 2vh;
}
.form-control {
    background-color: #011f55;
    color: white;
    font-size: 1.5vh;
}

@media screen and (orientation: landscape) {
    label, .btn[type="submit"], #admin-logout {
        font-size: 5vh;
    }
    .form-control {
        background-color: #011f55;
        color: white;
        font-size: 5vh;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    label, .btn[type="submit"], #admin-logout {
        font-size: 2.5vh;
    }
    .form-control {
        background-color: #011f55;
        color: white;
        font-size: 2.5vh;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    label, .btn[type="submit"], #admin-logout {
        font-size: 1.8vh;
    }
    .form-control {
        background-color: #011f55;
        color: white;
        font-size: 1.8vh;
    }
}

@media screen and (min-width: 2500px) and (orientation: landscape) {
    #form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

label.required:before {
    content: "*";
}

#who-am-i {
    background-color: #cf9f69;
    border: none;
    font-size: 3vh !important;
}

@media screen and (min-width: 768px) {
    .who-am-i-content {
        font-size: 3vh !important;
    }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
    .who-am-i-content {
        font-size: 5vh !important;
    }
}

@media screen and (min-width: 992px) and (orientation: landscape) {
    .who-am-i-content {
        font-size: 3vh !important;
    }

    #who-am-i {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 2500px) and (orientation: landscape) {
    .who-am-i-content {
        font-size: 2vh !important;
    }
}

/*********************************** FOOTER **************************************/

.footer {
    color: white;
    margin-bottom: 20px;
}

/*********************************** LOGIN ***************************************/
#login-form {
    color: white; 
    background-color: #0098ff;
}

svg {
    height: 35px !important;
    width: 35px !important;
}

path {
    stroke: rgb(255, 255, 255) !important;
    fill: white !important;
}

/********************************** MESSAGES *************************************/

.page-link {
    color: #0098ff;
}

.page-item.active .page-link, .page-link:hover {
    background-color: #0098ff;
    border-color: #0098ff;
}

/******************************** PROGRESS BAR ***********************************/
.progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  
.progress-container {
    width: 100%;
    height: 100%;
    background: #ccc;
}
  
.progress-bar {
    height: 100%;
    background: #cf9f69;
    width: 0%;
}
